@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;800&display=swap');

:root {
  --main-font: 'Ruda', Arial, sans-serif;
  --dark: rgb(24, 24, 24);
  --light: #fff;
  --details-dark: #4c014c;
  --details-light: rgb(250, 225, 1);
  --shadow: 10px 10px 20px rgb(56, 55, 55);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: var(--main-font);
  color: var(--dark);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 800;
  transition: .3s ease-in-out;
  opacity: 0.8;
}
a:hover {
  opacity: 1;
}
a:active {
  color: var(--details-dark)
}

.text__center {
  text-align: center;
}

.main__margin {
  margin: 2% auto;
}

.main__padding {
  padding: 2%
}

.main__title {
  font-size: 4vw;
  text-shadow: -5px -2px var(--details-light);
}

.main__centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.introduction__text {
  text-shadow: 0 0 2px var(--light);
  line-height: 1.5;
  font-size: 1.2vw;
}

.info__header {
  text-align: center;
  font-size: 1.4vw;
  font-weight: 800;
  margin: 1% auto;
}
