@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;800&display=swap');

:root {
  --main-font: 'Ruda', Arial, sans-serif;
  --dark: rgb(24, 24, 24);
  --light: #fff;
  --details-dark: #4c014c;
  --details-light: rgb(250, 225, 1);
  --shadow: 5px 5px 10px rgb(56, 55, 55);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: var(--main-font);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 800;
  transition: .3s ease-in-out;
  opacity: 0.8;
}
a:hover {
  opacity: 1;
}
a:active {
  color: var(--details-dark)
}

.text__center {
  text-align: center;
}

.main__margin {
  margin: 2% auto;
}

.main__padding {
  padding: 2%
}

.main__title {
  font-size: 5vw;
  text-shadow: -5px -2px var(--details-light);
}

h1 {
  color: #fff;
  text-shadow: -2px -2px #ccc;
  font-size: 40px;
}
