@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;800&display=swap');

:root {
  --main-font: 'Ruda', Arial, sans-serif;
  --dark: rgb(24, 24, 24);
  --light: #fff;
  --details-dark: #4c014c;
  --details-light: rgb(250, 225, 1);
  --details-light-2: rgb(251, 246, 197);
  --shadow: 10px 10px 20px rgb(56, 55, 55);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: var(--main-font);
  color: var(--dark);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 800;
  transition: .3s ease-in-out;
  opacity: 0.8;
}
a:hover {
  opacity: 1;
}
a:active {
  color: var(--details-dark)
}

strong {
  font-weight: 800;
}

.text__center {
  text-align: center;
}

.main__margin {
  margin: 2% auto;
}

.main__padding {
  padding: 2%
}

.main__title {
  font-size: 4vw;
  text-shadow: -5px -2px var(--details-light);
}

.main__centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.introduction__text {
  text-shadow: 0 0 2px var(--light);
  line-height: 1.5;
  font-size: 1.2vw;
}

.info__header {
  text-align: center;
  font-size: 1.6vw;
  font-weight: 800;
  margin: 1% auto;
}

.info__subheader {
  font-size: 1vw;
  margin: 1vw auto;
  text-decoration: underline solid var(--details-light);
}

.info__paragraph {
  font-size: 1.2vw;
  line-height: 1.5;
  margin: 1.2vw auto;
}

.info__input {
  border: none;
  border-bottom: 2px solid var(--details-light);
  outline: transparent;
  font-size: 1.1vw;
  padding: 5px;
  margin: 10px 20px;
}

.info__btn {
  padding: 10px;
  border: 1px solid var(--details-light);
  border-radius: 6px;
  background: var(--light);
}

.info__box {
  width: 80%;
  margin: 1% auto;
  font-size: 1.1vw;
}

.info-card:nth-child(even) {
  background: var(--details-light-2);
}

.info__circle {
  display: inline-block;
  text-align: center;
  width: 2vw;
  height: 2vw;
  line-height: 2vw;
  background: var(--details-light-2);
  border-radius: 50%;
}

.main__btn {
  padding: 10px;
  border: 2px solid var(--light);
  background: var(--details-light);
  outline: 2px solid var(--details-light);
  border-radius: 6px;
}

.list-enter-from, .list-leave-to {
  opacity: 0;
  transform: translateX(200px);
}
.list-enter-active, .list-leave-active {
  transition: .4s ease;
}
.list-move {
  transition: .4s ease;
}
